{% extends "wiki/article.html" %}
{% load wiki_tags i18n humanize %}


{% block wiki_pagetitle %}{% trans "Listing articles in" %} {{ article.current_revision.title }}{% endblock %}

{% block wiki_contents_tab %}

{% url 'wiki:dir' urlpath.path as self_url %}
<form class="form-search directory-toolbar">
<div class="well well-small">
  <div class="btn-group pull-left">
    {% if urlpath.parent %}
    <a href="{% url 'wiki:dir' path=urlpath.parent.path %}" class="btn btn-default">
      <span class="fa fa-arrow-up"></span>
      {% trans "Back up one level" %}
    </a>
    {% endif %}
    <a href="{% url 'wiki:create' path=urlpath.path %}" class="btn btn-default">
      <span class="fa fa-plus"></span>
      {% trans "Add article or floder" %}
    </a>
  </div>
  <div class="pull-right">
    {{ filter_form.query }}
  </div>
  {% if filter_query %}
    <div class="pull-right filter-clear">
      <a href="{{ self_url }}">({% trans "clear" %})</a>
    </div>
  {% endif %}

  <div class="clearfix"></div>
</div>
</form>

<!-show the aritlce number,but some not examinationed will not show -!>
<!--<p>-->
  <!--{% with paginator.object_list.count as cnt %}-->
    <!--{% blocktrans with urlpath.path as path and cnt|pluralize:_("article,articles") as articles_plur and cnt|pluralize:_("is,are") as articles_plur_verb %}-->
      <!--Browsing <strong><a href="{{ self_url }}">/{{ path }}</a></strong>. There {{ articles_plur_verb }} <strong>{{ cnt }} {{ articles_plur }}</strong> in this level.-->
    <!--{% endblocktrans %}-->
  <!--{% endwith %}-->
<!--</p>-->
<table class="table table-striped">
  <tr>
    <th>{% trans "Title" %}</th>
    <th>{% trans "Creator" %}</th>
    <th>{% trans "Summary" %}</th>
  </tr>
  {% for dict in directory %}
      {% if dict.article.released %}
            {% include "wiki/includes/catalog.html" %}
      {% else %}
      {% ifequal dict.article.owner user %}
            {% include "wiki/includes/catalog.html" %}
      {% else %}
            {% ifequal dict.article.current_revision.revision_number 2 %}
            {% else %}
                    {% include "wiki/includes/catalog.html" %}
            {% endifequal %}
      {% endifequal %}
      {% endif%}
    {% empty%}
    <tr>
      <td colspan="100">
        <em>{% trans "There are no articles in this level" %}</em>
      </td>
    </tr>

  {% endfor %}
</table>

{% include "wiki/includes/pagination.html" %}

{% endblock %}
